@font-face {
    font-family: roboto-font;
    src: url("assets/Roboto-Medium.ttf");
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: roboto-font;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 8fr;
}

.sidebar {
    background-color: steelblue;
    grid-column: 1/1;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.sidebar > div > h1,h3 {
    color: white;
    text-align: center;
}

.header {
    background-color: white;
    grid-column: 2/3;
    grid-row: 1/1;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.name-row, .search-row {
    display: grid;
}

.search-row {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}

.name-row {
    grid-template-columns: 1fr 2fr;
}

.main-content {
    padding-left: 2%; 
    background-color: green;
    grid-column: 2/2;
    grid-row: 2/2;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.announcements-trending, .card-section {
    display: grid;
}

.announcements-trending {
    grid-template-rows: 1fr 1fr;
}

.card-section {
    grid-template-rows: 1fr 15fr;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.update-card {
    display: grid;
    grid-template-rows: 1fr 10fr;
}